/* Main */
html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    height: inherit;
    width: inherit;
}
.pipanel-button {
    background-color: transparent;
    border-color: transparent;
}

/* Carousel */
.carousel-indicators li {
    background-color: black;
}
.carousel {
    width: inherit;
    height: inherit;
    z-index: 1;
}
.carousel-inner{
    width: inherit;
    height: inherit;
    padding: 50px;
}
.carousel-item{
    width: inherit;
    height: inherit;
}
.control-panel-container{
    width: inherit;
    height: inherit;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

/* FontAwesome General */ 
.fa {
    color: black;
    font-size: 50px;
}

/* Widget Container */
.main-widget-container {
    width: 100%;
    text-align: center;
}
.main-widget-container i {
    color: black;
    font-size: 40px;
}

/* Clock Widget */
#clock {
    font-weight: 900;
    font-size: 100px;
    width: 100%;
    color: black;
}

/* Radio Widget*/
.radio-container {
    height: 54px;
    max-height: 54px;
}
#current-song {
    font-weight: 900;
    font-size: 16px;
    max-width: 350px;
    padding: 0px 6px;
}
.radio-volume-container {
    padding: .375rem 0rem;
    width: 100px;
    z-index: 2;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(31, 31, 31);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(31, 31, 31);
    cursor: pointer;
}