/* Settings */
.settings-container {
    width: inherit;
    height: inherit;
    position: fixed;
    z-index: 20;
    opacity: 0.95;
    top: -100%;
    background-color: black;
    display: flex;
}

.card {
    border: 1px solid #fff;
    background-color: inherit;
    margin: 5%;
    width: 40%;
    height: 35%;
    color: white;
}

.card-header {
    border: 1px solid #fff;
    background-color: #333333;
}

.card-body {
    padding: 10px;
    border-top: 1px solid white;
}

.error-container {
    display: none;
}

.settings-centre-container {
    height: 100%;
    margin-bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}

.settings-centre-container > li {
    background-color: inherit;
    border: 1px solid white;
    padding: 0px 20px;
    display: flex;
    min-height: 55px;
}

.settings-centre-container > li > p {
    width: 80%;
    margin: 15px;
}

.settings-centre-container > li a {
    font-size: 40px;
}

.bluetooth-button {
    width: 60px;
}

.fa-circle {
    color: white;
    font-size: 40px;
}

.fa-check-circle {
    color: #007bff;
    font-size: 40px;
}

.bottom-button-container {
    max-height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}